## The .gitignore file exists to ensure that git ignores specific files from source control
## This is where you would reference any files that contain passwords or API keys you should keep secret.
 
# Operating System files to ignore
.DS_Store
Thumbs.db

# Dependency directories
node_modules/
jspm_packages/

# Editor configuration files to ignore
*.iml
.idea/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment variables file
.env
.env.test

# Optional eslint cache
.eslintcache

# Optional npm cache directory
.npm

# Runtime data
pids
*.pid
*.seed
*.pid.lock
